<html>
  <head>
  </head>
  <body id="bla">
    <p><%= name.capitalize %>, I swear it works!</p>
    Wow, you're <%= age %>?
    <% if age >= 21 %>
      Too old.
    <% else %>
      Too young.
    <% end %>
  </body>
</html>
